.notes{
    display: flex;
    border: 2px solid rgb(0,3,255);
    border-radius:15px ;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
    flex: 0 1 47%;
}