.timeButton{
    font-size: 22px;
    height: 63px;
    width: 114px;
    margin-top: 10px;
    border: 2px solid rgb(0,3,255);
    border-radius: 15px;
}
#root{
    display: flex;
    justify-content: center;
    overflow: hidden
}
.flexElement{
    height: 465px;
    overflow: scroll;
    margin-top: 19px;
}

